In [14]:
import pandas as pd

df = pd.read_csv("data/projections_20202021.csv")

In [15]:
df

,player_id,name,position,goals,assists,points,shots,timeOnIcePerGame
0,8478402,Connor McDavid,C,26,48,74,173,20.78
1,8477934,Leon Draisaitl,C,29,43,72,160,21.35
2,8476453,Nikita Kucherov,RW,24,41,65,158,18.11
3,8477492,Nathan MacKinnon,C,25,39,64,233,20.22
4,8478550,Artemi Panarin,LW,21,42,63,150,19.47
...,...,...,...,...,...,...,...,...
505,8475625,Matt Irwin,D,0,6,6,77,13.71
506,8474134,Yannick Weber,D,1,4,5,60,13.40
507,8474568,Luke Schenn,D,1,4,5,62,12.35
508,8474230,Micheal Haley,C,2,2,4,33,6.23
509,8470318,Jonathan Ericsson,D,0,2,2,48,14.12

In [16]:
df.shape

(510, 8)

In [17]:
rows, columns = df.shape
print(f"Rows: {rows}, Columns: {columns}")

Rows: 510, Columns: 8

In [18]:
df[2:5]

,player_id,name,position,goals,assists,points,shots,timeOnIcePerGame
2,8476453,Nikita Kucherov,RW,24,41,65,158,18.11
3,8477492,Nathan MacKinnon,C,25,39,64,233,20.22
4,8478550,Artemi Panarin,LW,21,42,63,150,19.47

In [19]:
df[:]

,player_id,name,position,goals,assists,points,shots,timeOnIcePerGame
0,8478402,Connor McDavid,C,26,48,74,173,20.78
1,8477934,Leon Draisaitl,C,29,43,72,160,21.35
2,8476453,Nikita Kucherov,RW,24,41,65,158,18.11
3,8477492,Nathan MacKinnon,C,25,39,64,233,20.22
4,8478550,Artemi Panarin,LW,21,42,63,150,19.47
...,...,...,...,...,...,...,...,...
505,8475625,Matt Irwin,D,0,6,6,77,13.71
506,8474134,Yannick Weber,D,1,4,5,60,13.40
507,8474568,Luke Schenn,D,1,4,5,62,12.35
508,8474230,Micheal Haley,C,2,2,4,33,6.23
509,8470318,Jonathan Ericsson,D,0,2,2,48,14.12

In [20]:
df.columns

Index(['player_id', 'name', 'position', 'goals', 'assists', 'points', 'shots',
       'timeOnIcePerGame'],
      dtype='object')

In [21]:
df.name

0         Connor McDavid
1         Leon Draisaitl
2        Nikita Kucherov
3       Nathan MacKinnon
4         Artemi Panarin
             ...
505           Matt Irwin
506        Yannick Weber
507          Luke Schenn
508        Micheal Haley
509    Jonathan Ericsson
Name: name, Length: 510, dtype: object

In [22]:
df['name']

0         Connor McDavid
1         Leon Draisaitl
2        Nikita Kucherov
3       Nathan MacKinnon
4         Artemi Panarin
             ...
505           Matt Irwin
506        Yannick Weber
507          Luke Schenn
508        Micheal Haley
509    Jonathan Ericsson
Name: name, Length: 510, dtype: object

In [23]:
type(df['name'])

pandas.core.series.Series

In [24]:
df.columns

Index(['player_id', 'name', 'position', 'goals', 'assists', 'points', 'shots',
       'timeOnIcePerGame'],
      dtype='object')

In [25]:
df[['name', 'position','goals','shots']]

                  name position  goals  shots
0       Connor McDavid        C     26    173
1       Leon Draisaitl        C     29    160
2      Nikita Kucherov       RW     24    158
3     Nathan MacKinnon        C     25    233
4       Artemi Panarin       LW     21    150
..                 ...      ...    ...    ...
505         Matt Irwin        D      0     77
506      Yannick Weber        D      1     60
507        Luke Schenn        D      1     62
508      Micheal Haley        C      2     33
509  Jonathan Ericsson        D      0     48

[510 rows x 4 columns]

In [31]:
df[['goals','shots']].max()

goals     33
shots    233
dtype: int64

In [32]:
df[['goals','shots']].min()

goals     0
shots    33
dtype: int64

In [33]:
df[['goals','shots']].mean()

goals     8.92549
shots    97.67451
dtype: float64

In [34]:
df[['goals','shots']].std()

goals     6.179879
shots    34.831110
dtype: float64

In [35]:
df.describe()

,player_id,goals,assists,points,shots,timeOnIcePerGame
count,5.100000e+02,510.000000,510.000000,510.000000,510.00000,510.000000
mean,8.475622e+06,8.925490,15.249020,24.174510,97.67451,16.303059
std,2.536202e+03,6.179879,7.825877,12.773181,34.83111,3.307740
min,8.465009e+06,0.000000,2.000000,2.000000,33.00000,6.230000
25%,8.474235e+06,4.000000,9.000000,14.000000,70.00000,13.850000
50%,8.476290e+06,8.000000,13.000000,21.000000,91.00000,16.380000
75%,8.477455e+06,13.000000,20.000000,31.000000,121.00000,18.527500
max,8.480172e+06,33.000000,48.000000,74.000000,233.00000,24.310000

In [36]:
df[df.goals > 20]

,player_id,name,position,goals,assists,points,shots,timeOnIcePerGame
0,8478402,Connor McDavid,C,26,48,74,173,20.78
1,8477934,Leon Draisaitl,C,29,43,72,160,21.35
2,8476453,Nikita Kucherov,RW,24,41,65,158,18.11
3,8477492,Nathan MacKinnon,C,25,39,64,233,20.22
4,8478550,Artemi Panarin,LW,21,42,63,150,19.47
5,8477956,David Pastrnak,RW,30,32,62,201,18.10
7,8476459,Mika Zibanejad,C,30,29,59,180,20.36
9,8479318,Auston Matthews,C,33,26,59,214,19.63
10,8474141,Patrick Kane,RW,23,36,59,200,20.32
12,8478403,Jack Eichel,C,24,33,57,188,20.72
14,8474564,Steven Stamkos,C,24,32,56,155,17.57
16,8476460,Mark Scheifele,C,22,31,53,130,20.63
17,8478420,Mikko Rantanen,RW,21,32,53,140,18.38
18,8477404,Jake Guentzel,C,25,27,52,165,19.44
19,8478010,Brayden Point,C,21,30,51,123,17.99
22,8471214,Alex Ovechkin,LW,31,18,49,217,19.62
23,8478427,Sebastian Aho,RW,24,25,49,160,18.55
24,8478398,Kyle Connor,LW,25,24,49,172,19.80
28,8475166,John Tavares,C,22,26,48,166,18.55
29,8470638,Patrice Bergeron,C,23,25,48,163,17.81
39,8479339,Patrik Laine,RW,22,22,44,176,18.25
40,8475810,Bryan Rust,RW,21,23,44,137,18.40
61,8475169,Evander Kane,LW,21,18,39,177,18.47

In [37]:
df[df.goals == df.goals.max()]

,player_id,name,position,goals,assists,points,shots,timeOnIcePerGame
9,8479318,Auston Matthews,C,33,26,59,214,19.63

In [ ]:
df[df.goals == df['goals'].max()]

,player_id,name,position,goals,assists,points,shots,timeOnIcePerGame
9,8479318,Auston Matthews,C,33,26,59,214,19.63

In [40]:
df.loc[df.goals == df['goals'].max()]['name']

9    Auston Matthews
Name: name, dtype: object

In [41]:
df[df.goals == df['goals'].max()]['name']

9    Auston Matthews
Name: name, dtype: object

In [46]:
df[['name','goals']][df.goals == df['goals'].max()]

              name  goals
9  Auston Matthews     33

In [51]:
# To modify the original dataframe, use inplace=True

df.set_index('name', inplace=True)

In [52]:
df

,player_id,position,goals,assists,points,shots,timeOnIcePerGame
name,,,,,,,
Connor McDavid,8478402,C,26,48,74,173,20.78
Leon Draisaitl,8477934,C,29,43,72,160,21.35
Nikita Kucherov,8476453,RW,24,41,65,158,18.11
Nathan MacKinnon,8477492,C,25,39,64,233,20.22
Artemi Panarin,8478550,LW,21,42,63,150,19.47
...,...,...,...,...,...,...,...
Matt Irwin,8475625,D,0,6,6,77,13.71
Yannick Weber,8474134,D,1,4,5,60,13.40
Luke Schenn,8474568,D,1,4,5,62,12.35
Micheal Haley,8474230,C,2,2,4,33,6.23
Jonathan Ericsson,8470318,D,0,2,2,48,14.12

In [53]:
df.loc['Matt Irwin']

player_id           8475625
position                  D
goals                     0
assists                   6
points                    6
shots                    77
timeOnIcePerGame      13.71
Name: Matt Irwin, dtype: object

In [54]:
df.reset_index(inplace=True)

In [55]:
df

,name,player_id,position,goals,assists,points,shots,timeOnIcePerGame
0,Connor McDavid,8478402,C,26,48,74,173,20.78
1,Leon Draisaitl,8477934,C,29,43,72,160,21.35
2,Nikita Kucherov,8476453,RW,24,41,65,158,18.11
3,Nathan MacKinnon,8477492,C,25,39,64,233,20.22
4,Artemi Panarin,8478550,LW,21,42,63,150,19.47
...,...,...,...,...,...,...,...,...
505,Matt Irwin,8475625,D,0,6,6,77,13.71
506,Yannick Weber,8474134,D,1,4,5,60,13.40
507,Luke Schenn,8474568,D,1,4,5,62,12.35
508,Micheal Haley,8474230,C,2,2,4,33,6.23
509,Jonathan Ericsson,8470318,D,0,2,2,48,14.12

In [58]:
df.set_index('position', inplace=True)
df

,name,player_id,goals,assists,points,shots,timeOnIcePerGame
position,,,,,,,
C,Connor McDavid,8478402,26,48,74,173,20.78
C,Leon Draisaitl,8477934,29,43,72,160,21.35
RW,Nikita Kucherov,8476453,24,41,65,158,18.11
C,Nathan MacKinnon,8477492,25,39,64,233,20.22
LW,Artemi Panarin,8478550,21,42,63,150,19.47
...,...,...,...,...,...,...,...
D,Matt Irwin,8475625,0,6,6,77,13.71
D,Yannick Weber,8474134,1,4,5,60,13.40
D,Luke Schenn,8474568,1,4,5,62,12.35
C,Micheal Haley,8474230,2,2,4,33,6.23
D,Jonathan Ericsson,8470318,0,2,2,48,14.12

In [59]:
df.loc['D']

,name,player_id,goals,assists,points,shots,timeOnIcePerGame
position,,,,,,,
D,John Carlson,8474590,9,38,47,132,23.21
D,Roman Josi,8474600,9,30,39,180,24.14
D,Torey Krug,8476792,6,32,38,118,19.59
D,Brent Burns,8470613,8,29,37,163,23.84
D,Victor Hedman,8475167,7,30,37,122,22.20
...,...,...,...,...,...,...,...
D,Brendan Smith,8474090,1,5,6,44,11.41
D,Matt Irwin,8475625,0,6,6,77,13.71
D,Yannick Weber,8474134,1,4,5,60,13.40
D,Luke Schenn,8474568,1,4,5,62,12.35
D,Jonathan Ericsson,8470318,0,2,2,48,14.12

In [60]:
df.reset_index(inplace=True)
df

,position,name,player_id,goals,assists,points,shots,timeOnIcePerGame
0,C,Connor McDavid,8478402,26,48,74,173,20.78
1,C,Leon Draisaitl,8477934,29,43,72,160,21.35
2,RW,Nikita Kucherov,8476453,24,41,65,158,18.11
3,C,Nathan MacKinnon,8477492,25,39,64,233,20.22
4,LW,Artemi Panarin,8478550,21,42,63,150,19.47
...,...,...,...,...,...,...,...,...
505,D,Matt Irwin,8475625,0,6,6,77,13.71
506,D,Yannick Weber,8474134,1,4,5,60,13.40
507,D,Luke Schenn,8474568,1,4,5,62,12.35
508,C,Micheal Haley,8474230,2,2,4,33,6.23
509,D,Jonathan Ericsson,8470318,0,2,2,48,14.12