In [87]:
import pandas as pd

df = pd.read_csv("data/projections_20202021.csv")

In [88]:
# Display the first five rows of the DataFrame
df.head()

,player_id,name,position,goals,assists,points,shots,timeOnIcePerGame
0,8478402,Connor McDavid,C,26,48,74,173,20.78
1,8477934,Leon Draisaitl,C,29,43,72,160,21.35
2,8476453,Nikita Kucherov,RW,24,41,65,158,18.11
3,8477492,Nathan MacKinnon,C,25,39,64,233,20.22
4,8478550,Artemi Panarin,LW,21,42,63,150,19.47

In [89]:

# Display the last five rows of the DataFrame
df.tail()

,player_id,name,position,goals,assists,points,shots,timeOnIcePerGame
505,8475625,Matt Irwin,D,0,6,6,77,13.71
506,8474134,Yannick Weber,D,1,4,5,60,13.40
507,8474568,Luke Schenn,D,1,4,5,62,12.35
508,8474230,Micheal Haley,C,2,2,4,33,6.23
509,8470318,Jonathan Ericsson,D,0,2,2,48,14.12

In [90]:
# Display summary statistics for numerical columns

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 510 entries, 0 to 509
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   player_id         510 non-null    int64
 1   name              510 non-null    object
 2   position          510 non-null    object
 3   goals             510 non-null    int64
 4   assists           510 non-null    int64
 5   points            510 non-null    int64
 6   shots             510 non-null    int64
 7   timeOnIcePerGame  510 non-null    float64
dtypes: float64(1), int64(5), object(2)
memory usage: 32.0+ KB

In [91]:
# Display summary statistics for numerical columns
df.describe()

,player_id,goals,assists,points,shots,timeOnIcePerGame
count,5.100000e+02,510.000000,510.000000,510.000000,510.00000,510.000000
mean,8.475622e+06,8.925490,15.249020,24.174510,97.67451,16.303059
std,2.536202e+03,6.179879,7.825877,12.773181,34.83111,3.307740
min,8.465009e+06,0.000000,2.000000,2.000000,33.00000,6.230000
25%,8.474235e+06,4.000000,9.000000,14.000000,70.00000,13.850000
50%,8.476290e+06,8.000000,13.000000,21.000000,91.00000,16.380000
75%,8.477455e+06,13.000000,20.000000,31.000000,121.00000,18.527500
max,8.480172e+06,33.000000,48.000000,74.000000,233.00000,24.310000

In [92]:
df.columns

Index(['player_id', 'name', 'position', 'goals', 'assists', 'points', 'shots',
       'timeOnIcePerGame'],
      dtype='object')

In [93]:
df.index

RangeIndex(start=0, stop=510, step=1)

In [94]:
# Retunning a specific column
# Return a series representing the "name" column
# NOT A PANDA BUT A SERIES. NOT A DATAFRAME
df["name"]

0         Connor McDavid
1         Leon Draisaitl
2        Nikita Kucherov
3       Nathan MacKinnon
4         Artemi Panarin
             ...
505           Matt Irwin
506        Yannick Weber
507          Luke Schenn
508        Micheal Haley
509    Jonathan Ericsson
Name: name, Length: 510, dtype: object

In [95]:
# return the length of the "name" column
len(df["name"])

510

In [96]:
# return the set of unique values in the "name" column

set(df["name"])

{'Aaron Ekblad',
 'Adam Erne',
 'Adam Henrique',
 'Adam Larsson',
 'Adam Lowry',
 'Adam Pelech',
 'Adrian Kempe',
 'Alec Martinez',
 'Aleksander Barkov',
 'Alex Biega',
 'Alex Chiasson',
 'Alex DeBrincat',
 'Alex Galchenyuk',
 'Alex Goligoski',
 'Alex Iafallo',
 'Alex Killorn',
 'Alex Ovechkin',
 'Alex Pietrangelo',
 'Alex Tuch',
 'Alexander Edler',
 'Alexander Kerfoot',
 'Alexander Radulov',
 'Alexander Steen',
 'Alexander Wennberg',
 'Anders Bjork',
 'Anders Lee',
 'Andre Burakovsky',
 'Andreas Athanasiou',
 'Andrej Sekera',
 'Andrew Cogliano',
 'Andrew Copp',
 'Andrew Shaw',
 'Andy Greene',
 'Anthony Beauvillier',
 'Anthony Bitetto',
 'Anthony Cirelli',
 'Anthony Duclair',
 'Anthony Mantha',
 'Antoine Roussel',
 'Anton Stralman',
 'Anze Kopitar',
 'Artem Anisimov',
 'Artemi Panarin',
 'Artturi Lehkonen',
 'Austin Watson',
 'Auston Matthews',
 'Barclay Goodrow',
 'Ben Chiarot',
 'Ben Hutton',
 'Blake Coleman',
 'Blake Comeau',
 'Blake Wheeler',
 'Bo Horvat',
 'Bobby Ryan',
 'Boone Jenner',
 'Brad Hunt',
 'Brad Marchand',
 'Brad Richardson',
 'Brady Skjei',
 'Brandon Carlo',
 'Brandon Montour',
 'Brandon Saad',
 'Brandon Sutter',
 'Brandon Tanev',
 'Brayden McNabb',
 'Brayden Point',
 'Brayden Schenn',
 'Braydon Coburn',
 'Brendan Gallagher',
 'Brendan Leipsic',
 'Brendan Perlini',
 'Brendan Smith',
 'Brenden Dillon',
 'Brent Burns',
 'Brent Seabrook',
 'Brett Connolly',
 'Brett Kulak',
 'Brett Pesce',
 'Brett Ritchie',
 'Brian Boyle',
 'Brian Dumoulin',
 'Brian Gibbons',
 'Brock Boeser',
 'Brock McGinn',
 'Brock Nelson',
 'Bryan Rust',
 'Cal Clutterbuck',
 'Calle Jarnkrok',
 'Calvin de Haan',
 'Cam Atkinson',
 'Cam Fowler',
 'Carl Gunnarsson',
 'Carl Hagelin',
 'Carl Soderberg',
 'Carter Rowney',
 'Casey Cizikas',
 'Cedric Paquette',
 'Chad Ruhwedel',
 'Chandler Stephenson',
 'Charles Hudon',
 'Charlie Coyle',
 'Charlie McAvoy',
 'Chris Kreider',
 'Chris Tierney',
 'Chris Wagner',
 'Christian Dvorak',
 'Christian Fischer',
 'Christian Folin',
 'Christopher Tanev',
 'Claude Giroux',
 'Clayton Keller',
 'Cody Ceci',
 'Cody Eakin',
 'Colin Miller',
 'Colin White',
 'Colton Parayko',
 'Colton Sceviour',
 'Colton Sissons',
 'Connor Brown',
 'Connor Carrick',
 'Connor McDavid',
 'Connor Murphy',
 'Conor Sheary',
 'Corey Perry',
 'Craig Smith',
 'Dale Weise',
 'Damon Severson',
 'Dan Hamhuis',
 'Danton Heinen',
 'Darnell Nurse',
 'Darren Helm',
 'David Backes',
 'David Kampf',
 'David Krejci',
 'David Pastrnak',
 'David Perron',
 'David Savard',
 'Denis Malgin',
 'Derek Forbort',
 'Derek Grant',
 'Derek Ryan',
 'Derek Stepan',
 'Derick Brassard',
 'Deryk Engelland',
 'Devin Shore',
 'Dmitry Kulikov',
 'Dmitry Orlov',
 'Dominik Simon',
 'Dougie Hamilton',
 'Drake Caggiula',
 'Drew Doughty',
 'Duncan Keith',
 'Dustin Brown',
 'Dylan DeMelo',
 'Dylan Larkin',
 'Dylan Strome',
 'Elias Lindholm',
 'Eric Staal',
 'Erik Gudbranson',
 'Erik Gustafsson',
 'Erik Haula',
 'Erik Johnson',
 'Erik Karlsson',
 'Esa Lindell',
 'Evan Rodrigues',
 'Evander Kane',
 'Evgeni Malkin',
 'Evgenii Dadonov',
 'Evgeny Kuznetsov',
 'Filip Forsberg',
 'Frank Vatrano',
 'Frans Nielsen',
 'Gabriel Bourque',
 'Gabriel Landeskog',
 'Garnet Hathaway',
 'Greg McKegg',
 'Greg Pateryn',
 'Gustav Nyquist',
 'Hampus Lindholm',
 'Haydn Fleury',
 'Ian Cole',
 'Ivan Barbashev',
 'Ivan Provorov',
 'J.T. Compher',
 'J.T. Miller',
 'Jaccob Slavin',
 'Jack Eichel',
 'Jack Johnson',
 'Jack Roslovic',
 'Jacob Trouba',
 'Jacob de la Rose',
 'Jaden Schwartz',
 'Jake DeBrusk',
 'Jake Gardiner',
 'Jake Guentzel',
 'Jake McCabe',
 'Jake Muzzin',
 'Jake Virtanen',
 'Jakob Chychrun',
 'Jakob Silfverberg',
 'Jakub Voracek',
 'Jakub Vrana',
 'James Neal',
 'James van Riemsdyk',
 'Jamie Benn',
 'Jamie Oleksiak',
 'Jan Rutta',
 'Jared McCann',
 'Jared Spurgeon',
 'Jason Demers',
 'Jason Dickinson',
 'Jason Spezza',
 'Jason Zucker',
 'Jay Beagle',
 'Jay Bouwmeester',
 'Jean-Gabriel Pageau',
 'Jeff Carter',
 'Jeff Petry',
 'Jeff Skinner',
 'Jesper Bratt',
 'Jesper Fast',
 'Jimmy Vesey',
 'Joakim Nordstrom',
 'Joakim Ryan',
 'Joe Pavelski',
 'Joe Thornton',
 'Joel Armia',
 'Joel Edmundson',
 'Joel Eriksson Ek',
 'Johan Larsson',
 'John Carlson',
 'John Hayden',
 'John Klingberg',
 'John Moore',
 'John Tavares',
 'Johnny Boychuk',
 'Johnny Gaudreau',
 'Jon Merrill',
 'Jonas Brodin',
 'Jonathan Drouin',
 'Jonathan Ericsson',
 'Jonathan Huberdeau',
 'Jonathan Marchessault',
 'Jonathan Toews',
 'Joonas Donskoi',
 'Jordan Eberle',
 'Jordan Martinook',
 'Jordan Oesterle',
 'Jordan Staal',
 'Jordan Weal',
 'Jordie Benn',
 'Josh Anderson',
 'Josh Archibald',
 'Josh Bailey',
 'Josh Leivo',
 'Josh Manson',
 'Josh Morrissey',
 'Jujhar Khaira',
 'Justin Abdelkader',
 'Justin Braun',
 'Justin Faulk',
 'Justin Schultz',
 'Justin Williams',
 'Kasperi Kapanen',
 'Keith Yandle',
 'Kevin Fiala',
 'Kevin Hayes',
 'Kevin Labanc',
 'Kevin Shattenkirk',
 'Korbinian Holzer',
 'Kris Letang',
 'Kris Russell',
 'Kyle Clifford',
 'Kyle Connor',
 'Kyle Okposo',
 'Kyle Palmieri',
 'Kyle Turris',
 'Lars Eller',
 'Leo Komarov',
 'Leon Draisaitl',
 'Logan Couture',
 'Loui Eriksson',
 'Luke Glendening',
 'Luke Kunin',
 'Luke Schenn',
 'MacKenzie Weegar',
 'Madison Bowey',
 'Marc Staal',
 'Marc-Edouard Vlasic',
 'Marco Scandella',
 'Marcus Foligno',
 'Marcus Johansson',
 'Marcus Pettersson',
 'Marcus Sorensen',
 'Mark Borowiecki',
 'Mark Giordano',
 'Mark Jankowski',
 'Mark Pysyk',
 'Mark Scheifele',
 'Mark Stone',
 'Markus Granlund',
 'Markus Nutivaara',
 'Martin Frk',
 'Mathew Barzal',
 'Mathieu Perreault',
 'Mats Zuccarello',
 'Matt Benning',
 'Matt Calvert',
 'Matt Duchene',
 'Matt Dumba',
 'Matt Grzelcyk',
 'Matt Irwin',
 'Matt Martin',
 'Matt Nieto',
 'Matt Niskanen',
 'Matthew Tkachuk',
 'Mattias Ekholm',
 'Mattias Janmark',
 'Max Domi',
 'Max Pacioretty',
 'Melker Karlsson',
 'Michael Amadio',
 'Michael Del Zotto',
 'Michael Frolik',
 'Michael Grabner',
 'Michael Raffl',
 'Michal Kempny',
 'Micheal Haley',
 'Mika Zibanejad',
 'Mikael Backlund',
 'Mikael Granlund',
 'Mike Green',
 'Mike Hoffman',
 'Mike Matheson',
 'Mike Reilly',
 'Mikhail Sergachev',
 'Mikkel Boedker',
 'Mikko Koivu',
 'Mikko Rantanen',
 'Milan Lucic',
 'Miles Wood',
 'Mirco Mueller',
 'Mitchell Marner',
 'Morgan Rielly',
 'Nate Schmidt',
 'Nate Thompson',
 'Nathan Beaulieu',
 'Nathan MacKinnon',
 'Nazem Kadri',
 'Neal Pionk',
 'Nic Dowd',
 'Nic Petan',
 'Nick Bonino',
 'Nick Cousins',
 'Nick Foligno',
 'Nick Holden',
 'Nick Jensen',
 'Nick Leddy',
 'Nick Ritchie',
 'Nick Schmaltz',
 'Nicklas Backstrom',
 'Nico Hischier',
 'Nicolas Deslauriers',
 'Nikita Kucherov',
 'Nikita Zadorov',
 'Nikita Zaitsev',
 'Niklas Hjalmarsson',
 'Nikolaj Ehlers',
 'Nino Niederreiter',
 'Noah Hanifin',
 'Noel Acciari',
 'Oliver Bjorkstrand',
 'Oliver Ekman-Larsson',
 'Olli Maatta',
 'Ondrej Kase',
 'Ondrej Palat',
 'Oscar Fantenberg',
 'Oscar Klefbom',
 'Oskar Lindblom',
 'Oskar Sundqvist',
 'P.K. Subban',
 'Patric Hornqvist',
 'Patrice Bergeron',
 'Patrick Kane',
 'Patrick Marleau',
 'Patrick Maroon',
 'Patrik Laine',
 'Patrik Nemeth',
 'Paul Byron',
 'Paul Stastny',
 'Pavel Buchnevich',
 'Pavel Zacha',
 'Phil Kessel',
 'Phillip Danault',
 'Phillip Di Giuseppe',
 'Pierre-Edouard Bellemare',
 'Pierre-Luc Dubois',
 'Radek Faksa',
 'Radko Gudas',
 'Rasmus Ristolainen',
 'Reilly Smith',
 'Richard Panik',
 'Rickard Rakell',
 'Riley Nash',
 'Riley Sheahan',
 'Robert Bortuzzo',
 'Robert Hagg',
 'Roman Josi',
 'Roman Polak',
 'Ron Hainsey',
 'Ross Johnston',
 'Ryan Carpenter',
 'Ryan Dzingel',
 'Ryan Ellis',
 'Ryan Getzlaf',
 'Ryan Hartman',
 'Ryan Johansen',
 'Ryan McDonagh',
 'Ryan Murray',
 'Ryan Nugent-Hopkins',
 "Ryan O'Reilly",
 'Ryan Pulock',
 'Ryan Reaves',
 'Ryan Strome',
 'Ryan Suter',
 'Sam Bennett',
 'Sam Gagner',
 'Sam Reinhart',
 'Sami Vatanen',
 'Samuel Girard',
 'Scott Harrington',
 'Scott Laughton',
 'Scott Mayfield',
 'Sean Couturier',
 'Sean Kuraly',
 'Sean Monahan',
 'Sebastian Aho',
 'Seth Jones',
 'Shayne Gostisbehere',
 'Shea Theodore',
 'Shea Weber',
 'Sidney Crosby',
 'Slater Koekkoek',
 'Stefan Noesen',
 'Steven Stamkos',
 'T.J. Oshie',
 'TJ Brodie',
 'Tanner Pearson',
 'Taylor Hall',
 'Teuvo Teravainen',
 'Thomas Chabot',
 'Tim Heed',
 'Tim Schaller',
 'Timo Meier',
 'Tobias Rieder',
 'Tom Kuhnhackl',
 'Tom Wilson',
 'Tomas Hertl',
 'Tomas Nosek',
 'Tomas Tatar',
 'Tony DeAngelo',
 'Torey Krug',
 'Travis Dermott',
 'Travis Hamonic',
 'Travis Konecny',
 'Travis Sanheim',
 'Travis Zajac',
 'Trevor Daley',
 'Trevor Lewis',
 'Trevor van Riemsdyk',
 'Troy Brouwer',
 'Troy Stecher',
 'Tyler Bertuzzi',
 'Tyler Bozak',
 'Tyler Ennis',
 'Tyler Johnson',
 'Tyler Motte',
 'Tyler Myers',
 'Tyler Pitlick',
 'Tyler Seguin',
 'Tyler Toffoli',
 'Tyson Barrie',
 'Tyson Jost',
 'Valtteri Filppula',
 'Victor Hedman',
 'Victor Mete',
 'Victor Rask',
 'Viktor Arvidsson',
 'Vince Dunn',
 'Vincent Trocheck',
 'Vinnie Hinostroza',
 'Vladimir Sobotka',
 'Vladislav Namestnikov',
 'Wayne Simmonds',
 'Will Butcher',
 'William Carrier',
 'William Karlsson',
 'William Nylander',
 'Yanni Gourde',
 'Yannick Weber',
 'Zac Rinaldo',
 'Zach Aston-Reese',
 'Zach Bogosian',
 'Zach Hyman',
 'Zach Parise',
 'Zach Werenski',
 'Zack Kassian',
 'Zack Smith',
 'Zdeno Chara',
 'Zemgus Girgensons'}

In [97]:
# Return a DataFrame with only the "name" and "position" columns
# Can put a list of columns you want to return
# index by column
df[["name", "position"]]

                  name position
0       Connor McDavid        C
1       Leon Draisaitl        C
2      Nikita Kucherov       RW
3     Nathan MacKinnon        C
4       Artemi Panarin       LW
..                 ...      ...
505         Matt Irwin        D
506      Yannick Weber        D
507        Luke Schenn        D
508      Micheal Haley        C
509  Jonathan Ericsson        D

[510 rows x 2 columns]

In [98]:
# index by rows
# Return the first row of the DataFrame
df.iloc[0]

player_id                  8478402
name                Connor McDavid
position                         C
goals                           26
assists                         48
points                          74
shots                          173
timeOnIcePerGame             20.78
Name: 0, dtype: object

In [99]:
# Return the 11th row of the DataFrame (index 10)
df.iloc[10]

player_id                8474141
name                Patrick Kane
position                      RW
goals                         23
assists                       36
points                        59
shots                        200
timeOnIcePerGame           20.32
Name: 10, dtype: object

In [100]:
list(df.iloc[10])

[np.int64(8474141),
 'Patrick Kane',
 'RW',
 np.int64(23),
 np.int64(36),
 np.int64(59),
 np.int64(200),
 np.float64(20.32)]

In [101]:
#df.iloc[10][0]
#df.iloc[10][1]
df.iloc[10]["name"]

'Patrick Kane'

In [102]:
df.head()

,player_id,name,position,goals,assists,points,shots,timeOnIcePerGame
0,8478402,Connor McDavid,C,26,48,74,173,20.78
1,8477934,Leon Draisaitl,C,29,43,72,160,21.35
2,8476453,Nikita Kucherov,RW,24,41,65,158,18.11
3,8477492,Nathan MacKinnon,C,25,39,64,233,20.22
4,8478550,Artemi Panarin,LW,21,42,63,150,19.47

In [103]:
# Return a DataFrame with only the rows where the "position" column is "LW" and the "goals" column is greater than 20
df[df["position"] == "LW"]

,player_id,name,position,goals,assists,points,shots,timeOnIcePerGame
4,8478550,Artemi Panarin,LW,21,42,63,150,19.47
11,8473419,Brad Marchand,LW,20,39,59,139,18.52
15,8476456,Jonathan Huberdeau,LW,18,37,55,127,17.90
22,8471214,Alex Ovechkin,LW,31,18,49,217,19.62
24,8478398,Kyle Connor,LW,25,24,49,172,19.80
...,...,...,...,...,...,...,...,...
458,8476948,Charles Hudon,LW,5,6,11,83,11.40
470,8474709,Matt Martin,LW,5,5,10,53,10.48
488,8471716,Justin Abdelkader,LW,2,6,8,55,11.77
496,8476207,Brian Gibbons,LW,3,4,7,42,9.90
501,8475268,Gabriel Bourque,LW,2,5,7,41,8.86

In [104]:
# Return a DataFrame with only the rows where the "position" column is "LW" and the "goals" column is greater than 20
df[(df["position"] == "LW") & (df["goals"] > 20)]

,player_id,name,position,goals,assists,points,shots,timeOnIcePerGame
4,8478550,Artemi Panarin,LW,21,42,63,150,19.47
22,8471214,Alex Ovechkin,LW,31,18,49,217,19.62
24,8478398,Kyle Connor,LW,25,24,49,172,19.80
61,8475169,Evander Kane,LW,21,18,39,177,18.47

In [105]:
df[(df["position"] == "LW") | (df["goals"] > 20)]

,player_id,name,position,goals,assists,points,shots,timeOnIcePerGame
0,8478402,Connor McDavid,C,26,48,74,173,20.78
1,8477934,Leon Draisaitl,C,29,43,72,160,21.35
2,8476453,Nikita Kucherov,RW,24,41,65,158,18.11
3,8477492,Nathan MacKinnon,C,25,39,64,233,20.22
4,8478550,Artemi Panarin,LW,21,42,63,150,19.47
...,...,...,...,...,...,...,...,...
458,8476948,Charles Hudon,LW,5,6,11,83,11.40
470,8474709,Matt Martin,LW,5,5,10,53,10.48
488,8471716,Justin Abdelkader,LW,2,6,8,55,11.77
496,8476207,Brian Gibbons,LW,3,4,7,42,9.90
501,8475268,Gabriel Bourque,LW,2,5,7,41,8.86

In [106]:
df[df["name"].str.startswith("K") ]

,player_id,name,position,goals,assists,points,shots,timeOnIcePerGame
24,8478398,Kyle Connor,LW,25,24,49,172,19.80
90,8475151,Kyle Palmieri,RW,19,17,36,133,16.50
91,8477942,Kevin Fiala,LW,15,21,36,134,14.88
98,8471724,Kris Letang,D,10,25,35,148,24.18
102,8475763,Kevin Hayes,C,16,19,35,128,17.01
140,8478099,Kevin Labanc,RW,11,19,30,123,15.26
146,8471735,Keith Yandle,D,3,27,30,100,19.00
171,8477953,Kasperi Kapanen,RW,12,16,28,105,15.29
222,8474068,Kyle Turris,C,7,17,24,80,14.91
270,8474031,Kevin Shattenkirk,D,3,17,20,97,18.00
298,8473449,Kyle Okposo,RW,8,11,19,89,12.66
352,8475160,Kyle Clifford,LW,7,9,16,87,11.01
483,8471729,Kris Russell,D,0,8,8,48,16.47
503,8473560,Korbinian Holzer,D,1,5,6,46,15.43

In [107]:
len(df[df["name"].str.startswith("K") ])

14

In [108]:
df[df["name"].str.endswith("s")]

,player_id,name,position,goals,assists,points,shots,timeOnIcePerGame
9,8479318,Auston Matthews,C,33,26,59,214,19.63
14,8474564,Steven Stamkos,C,24,32,56,155,17.57
28,8475166,John Tavares,C,22,26,48,166,18.55
33,8476454,Ryan Nugent-Hopkins,C,18,28,46,140,19.38
41,8473604,Jonathan Toews,C,15,28,43,133,18.92
70,8477940,Nikolaj Ehlers,LW,18,21,39,148,15.79
79,8470613,Brent Burns,D,8,29,37,163,23.84
82,8479400,Pierre-Luc Dubois,C,15,22,37,123,17.12
102,8475763,Kevin Hayes,C,16,19,35,128,17.01
104,8475176,Ryan Ellis,D,7,27,34,112,22.20
154,8477495,Seth Jones,D,6,23,29,121,23.81
172,8468508,Justin Williams,RW,15,12,27,138,13.64
204,8474589,Tyler Ennis,LW,12,13,25,114,13.76
222,8474068,Kyle Turris,C,7,17,24,80,14.91
256,8476393,Nick Cousins,C,8,13,21,95,13.14
284,8474190,Wayne Simmonds,RW,8,12,20,97,14.50
287,8475231,Casey Cizikas,C,12,8,20,81,13.84
308,8476925,Colton Sissons,C,9,9,18,64,14.07
338,8474574,Tyler Myers,D,4,13,17,102,20.24
353,8478542,Evan Rodrigues,LW,7,9,16,93,11.61
356,8476878,Zemgus Girgensons,C,8,8,16,71,13.40
387,8470655,David Backes,RW,4,10,14,80,9.82
419,8475235,Nicolas Deslauriers,LW,6,6,12,61,9.83
424,8473453,Trevor Lewis,C,5,7,12,89,11.93
433,8471817,Ryan Reaves,RW,5,7,12,55,10.17
435,8475462,Radko Gudas,D,1,11,12,78,16.16
443,8474218,Jason Demers,D,1,10,11,61,19.39
496,8476207,Brian Gibbons,LW,3,4,7,42,9.90
500,8469465,Dan Hamhuis,D,0,7,7,41,14.22

In [110]:
df[df["position"].isin(["LW", "RW"])]

,player_id,name,position,goals,assists,points,shots,timeOnIcePerGame
2,8476453,Nikita Kucherov,RW,24,41,65,158,18.11
4,8478550,Artemi Panarin,LW,21,42,63,150,19.47
5,8477956,David Pastrnak,RW,30,32,62,201,18.10
10,8474141,Patrick Kane,RW,23,36,59,200,20.32
11,8473419,Brad Marchand,LW,20,39,59,139,18.52
...,...,...,...,...,...,...,...,...
471,8471426,Troy Brouwer,RW,6,4,10,53,9.90
477,8477401,John Hayden,RW,5,4,9,55,9.69
488,8471716,Justin Abdelkader,LW,2,6,8,55,11.77
496,8476207,Brian Gibbons,LW,3,4,7,42,9.90
501,8475268,Gabriel Bourque,LW,2,5,7,41,8.86

In [111]:
df[~df["position"].isin(["LW", "RW"])]

,player_id,name,position,goals,assists,points,shots,timeOnIcePerGame
0,8478402,Connor McDavid,C,26,48,74,173,20.78
1,8477934,Leon Draisaitl,C,29,43,72,160,21.35
3,8477492,Nathan MacKinnon,C,25,39,64,233,20.22
6,8471215,Evgeni Malkin,C,20,40,60,153,18.50
7,8476459,Mika Zibanejad,C,30,29,59,180,20.36
...,...,...,...,...,...,...,...,...
505,8475625,Matt Irwin,D,0,6,6,77,13.71
506,8474134,Yannick Weber,D,1,4,5,60,13.40
507,8474568,Luke Schenn,D,1,4,5,62,12.35
508,8474230,Micheal Haley,C,2,2,4,33,6.23
509,8470318,Jonathan Ericsson,D,0,2,2,48,14.12

In [124]:
# Locate then entry I want
df.loc[df["name"] == "Patrick Kane"]

,player_id,name,position,goals,assists,points,shots,timeOnIcePerGame
10,8474141,Patrick Kane,RW,23,36,59,200,20.32

In [ ]:
# Look up a value and change it
df.loc[df["name"] == "Patrick Kane","position"]

10    RW
Name: position, dtype: object

In [ ]:
# Change the position of Patrick Kane to "bench"
df.loc[df["name"] == "Patrick Kane", "position"] = "bench"

In [ ]:
#  display the row for Patrick Kane to verify the change
df.loc[df["name"] == "Patrick Kane"]

,player_id,name,position,goals,assists,points,shots,timeOnIcePerGame
10,8474141,Patrick Kane,bench,23,36,59,200,20.32

In [131]:
df["name"] = df["name"].str.upper()

In [132]:
df["name"]

0         CONNOR MCDAVID
1         LEON DRAISAITL
2        NIKITA KUCHEROV
3       NATHAN MACKINNON
4         ARTEMI PANARIN
             ...
505           MATT IRWIN
506        YANNICK WEBER
507          LUKE SCHENN
508        MICHEAL HALEY
509    JONATHAN ERICSSON
Name: name, Length: 510, dtype: object

In [135]:
df.loc[df["name"] == "MICHEAL HALEY"]

,player_id,name,position,goals,assists,points,shots,timeOnIcePerGame
508,8474230,MICHEAL HALEY,C,2,2,4,33,6.23

In [136]:
df = df.drop(508)

In [137]:
df.tail()

,player_id,name,position,goals,assists,points,shots,timeOnIcePerGame
504,8474090,BRENDAN SMITH,D,1,5,6,44,11.41
505,8475625,MATT IRWIN,D,0,6,6,77,13.71
506,8474134,YANNICK WEBER,D,1,4,5,60,13.40
507,8474568,LUKE SCHENN,D,1,4,5,62,12.35
509,8470318,JONATHAN ERICSSON,D,0,2,2,48,14.12

In [ ]:
# display the number of rows and columns in the DataFrame
df.dropna()  # Returns a new DataFrame with rows containing any NaN values removed
df.fillna({"position": "unknown"}, inplace=True) # Modifies the existing

df

,player_id,name,position,goals,assists,points,shots,timeOnIcePerGame
0,8478402,CONNOR MCDAVID,C,26,48,74,173,20.78
1,8477934,LEON DRAISAITL,C,29,43,72,160,21.35
2,8476453,NIKITA KUCHEROV,RW,24,41,65,158,18.11
3,8477492,NATHAN MACKINNON,C,25,39,64,233,20.22
4,8478550,ARTEMI PANARIN,LW,21,42,63,150,19.47
...,...,...,...,...,...,...,...,...
504,8474090,BRENDAN SMITH,D,1,5,6,44,11.41
505,8475625,MATT IRWIN,D,0,6,6,77,13.71
506,8474134,YANNICK WEBER,D,1,4,5,60,13.40
507,8474568,LUKE SCHENN,D,1,4,5,62,12.35
509,8470318,JONATHAN ERICSSON,D,0,2,2,48,14.12

In [142]:
df.rename(columns={"goals": "G", "assists": "A"}, inplace=True)

df

,player_id,name,position,G,A,points,shots,timeOnIcePerGame
0,8478402,CONNOR MCDAVID,C,26,48,74,173,20.78
1,8477934,LEON DRAISAITL,C,29,43,72,160,21.35
2,8476453,NIKITA KUCHEROV,RW,24,41,65,158,18.11
3,8477492,NATHAN MACKINNON,C,25,39,64,233,20.22
4,8478550,ARTEMI PANARIN,LW,21,42,63,150,19.47
...,...,...,...,...,...,...,...,...
504,8474090,BRENDAN SMITH,D,1,5,6,44,11.41
505,8475625,MATT IRWIN,D,0,6,6,77,13.71
506,8474134,YANNICK WEBER,D,1,4,5,60,13.40
507,8474568,LUKE SCHENN,D,1,4,5,62,12.35
509,8470318,JONATHAN ERICSSON,D,0,2,2,48,14.12

In [144]:
df["G"].value_counts()

G
3     43
6     40
7     40
9     39
5     34
2     31
4     28
1     28
8     26
12    21
16    20
15    19
14    19
10    18
11    16
13    15
17    13
19    12
18    10
0      9
21     5
20     5
24     4
25     3
22     3
23     2
30     2
31     1
33     1
29     1
26     1
Name: count, dtype: int64

In [149]:
df.groupby("position")["G"].sum()

position
C        1856
D         643
LW       1121
RW        907
bench      23
Name: G, dtype: int64

In [151]:
df.sort_values("name", ascending=True)

,player_id,name,position,G,A,points,shots,timeOnIcePerGame
169,8477932,AARON EKBLAD,D,6,22,28,116,21.75
432,8477454,ADAM ERNE,LW,5,7,12,67,11.51
159,8474641,ADAM HENRIQUE,C,15,14,29,113,16.14
472,8476457,ADAM LARSSON,D,2,8,10,71,19.03
350,8476392,ADAM LOWRY,C,7,9,16,79,14.43
...,...,...,...,...,...,...,...,...
148,8478460,ZACH WERENSKI,D,12,18,30,141,22.48
198,8475178,ZACK KASSIAN,RW,12,14,26,90,15.01
373,8474250,ZACK SMITH,LW,5,9,14,58,12.06
457,8465009,ZDENO CHARA,D,3,8,11,70,19.82
356,8476878,ZEMGUS GIRGENSONS,C,8,8,16,71,13.40

In [152]:
df.to_csv("data/modified_projections_20202021.csv", index=False)